{% extends "base.html" %}
{% block content %}
<div align = "left">
  <nav class="navbar navbar-fixed-top navbar-dark"
  style="height: 7vh; width: 100vw; background-color: #990000">
  <div class="container">
    <div class="navbar-header" style="color: #2e7eb8">
      <a class="navbar-brand smoothScroll" href="#Home">
        <b>Friend-In-Need</b>
      </a>
    </div>
    <ul class="nav navbar-nav" text-align="right">
      <li class = "nav-item"><a class="smoothScroll nav-link" href="#About">About FriendInNeed.</a></li>
      <li class = "nav-item"><a class="smoothScroll nav-link" href="#Login">Login</a></li>
    </ul>
  </div>
</nav>

<section id="Home">
  <div class="header" style ="background-image: url('../static/Images/Family_Background.jpg'); width = 100vw; background-size: cover">
    <div class="container">
      <div style="height: 100vh">
        <p style="color: #e5f2fb; font-size: 48px; position: absolute; top: 30%">FriendInNeed? Friendly Indeed!</p>

      </div>
    </div>
  </div>
</section>

<section id="About" style="background-color: #ac7339; color: #ffffff">
  <div class="container">
    <div style="min-height: 95vh; padding-top: 20vh; padding-bottom: 5vh">
      <div class="row featurette">
        <div class="col-md-12">
          <h1 class="featurette-heading" style="font-size: 48px">About FriendInNeed. <span
            class="text-muted"></span>
          </h1>
          <p class="lead" style="font-size: 28px">
            FriendsInNeed creates a composite sentiment score of how you have been feeling over the course of the last 30 days. Using the natural language processing services of IBM’s Bluemix Alchemy API, user’s posts on both Twitter and Facebook are evaluated for both sentiment and emotions. The composite rating is calculated using an average of ratings from Twitter and Facebook weighted based on frequency of posts.
          </p>
        </div>
      </div>
    </div>
    <hr style="margin: 0px; padding: 0px; border-color: #604020; color: #003366; size = '10'">
  </div>
</section>

<section id = "Login" style="background-color: #ffcc99">
    <div style="min-height: 95vh; padding-top: 30vh; padding-bottom: 30vh" >
<div class="login-box">
  <div class="lb-header">
    <a href="#Login" class="active" id="login-box-link" style="color: #000000">Login</a>
  </div>
  <form class="email-login">
    <p>Use facebook to login and view sentiment
       data.</p>

    <br>
    <br>
    <div class="fb-login-button" data-size='xlarge' data-scope="public_profile">
      Login
    </div>
</div>
</div>
</section>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
  $(".email-signup").hide();
  $("#signup-box-link").click(function(){
    $(".email-login").fadeOut(100);
    $(".email-signup").delay(100).fadeIn(100);
    $("#login-box-link").removeClass("active");
    $("#signup-box-link").addClass("active");
  });
  $("#login-box-link").click(function(){
    $(".email-login").delay(100).fadeIn(100);;
    $(".email-signup").fadeOut(100);
    $("#login-box-link").addClass("active");
    $("#signup-box-link").removeClass("active");
  });
</script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>


{% endblock %}
